.login-page {
  background-color: #333;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .form-login {
    max-width: 500px;
    width: 100%;
    max-height: 262px;
    background-color: #fff;
    padding: 40px 10px;
    border: 1px solid #b3b3b3;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0 20px;
  }
}