@import './base/base';
@import './components/auth/login';
@import './components/files/mainpage';
@import './components/files/images';
@import './components/files/loading-screen';
@import './components/navbar/navbar';
@import './components/modals/treeview';
@import './components/modals/text-input';
@import './components/modals/versions';
@import '~semantic-ui-css/semantic.min.css';
@import '~@uppy/drag-drop/dist/style.min.css';
