.main-page {
  padding: 92px 50px;

  .new-folder-segment {
    border: none;
    box-shadow: none;
    margin: 0;
    padding: 0;

    button {
      margin: 0;
    }
  }

  #folders-breadcrumb {
    .active.section {
      color: black;
      cursor: default;
    }
  }

  .files-table {
    margin-top: 10px;

    .file-icon {
      width: 40px;
    }

    .file-table-row {
      &.empty-table-row {
        text-align: center;
        color: #808080
      }

      &:hover {
        cursor: pointer;
        background-color: rgba(82, 148, 226, 0.05);
      }
    }
  }

  #drag-drop {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;

    display: none;

    &.visible {
      display: initial;
    }

    & > div {
      height: 100%;
    }

    .uppy-Root {
      background-color: rgba(119, 196, 255, 0.1) !important;
    }
  }
}