.main-page {
  padding: 92px 50px;

  .new-folder-segment {
    border: none;
    box-shadow: none;
    margin: 0;
    padding: 0;

    button {
      margin: 0;
    }
  }

  #folders-breadcrumb {
    .active.section {
      color: black;
      cursor: default;
    }
  }

  .files-table {
    margin-top: 10px;

    .file-icon {
      width: 40px;
    }

    .file-table-row {
      &.empty-table-row {
        text-align: center;
        color: #808080
      }

      &:hover {
        cursor: pointer;
        background-color: rgba(82, 148, 226, 0.05);
      }
    }
  }
}