#top-navbar {
  background-color: $theme-blue;

  .item #brand-name {
    color: white;
    font-size: 18px;
  }

  .log-out-icon {
    position: absolute;
    color: white;
    right: 49px;
    font-size: 20px;
    top: 13px;
    cursor: pointer;
  }
}